.groupomania {
    & > main {
        display: flex;
        margin-bottom: 3em;
    }
    &__tools {
        width: 320px;
        margin: 10px;
        padding: 10px;
        border-radius: 8px;
        border-bottom: 2px solid white;
        background-color: rgba(18,37,66,0.7);
        color: white;
        &--create {
            height: 300px;
        }
        &--consult {
            height: 690px;
        }
        &--oneForum {
            height: 590px;
        }
        &__title {
            size: 1.2em;
            text-align: center;
            border-bottom: 2px solid  rgb(209,81,90);
            color: white;
        }
        &__userInfos {
            display: flex;
            flex-direction: column;
            &__img {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin: 10px 0;
                & > img {
                    width: 150px;
                    height: auto;
                }
            }
            &__infos {
                text-align: left;
                padding: 10px 0 10px 10px;
                margin: 0;
                & > li {
                    list-style: none;
                }
            }
        }
        &__search {
            &__form {
                & div:nth-last-of-type(6) {
                    padding-bottom: 10px;
                }
                &__choices {
                    & > select {
                        width: 140px;
                    }
                    & > input {
                        width: 133px;
                    }
                }
            }
        }
    }
    &__views {
        width: 100%;
        margin: 10px;
        padding: 10px;
        border-bottom: 2px solid white;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        background-color: rgba(174,174,174,0.7);
        color: rgb(9,31,67);
        overflow-y: auto;
        max-height: 690px;
        &__title {
            size: 1.2em;
            text-align: left;
            border-bottom: 2px solid  rgb(209,81,90);
            color: rgb(9,31,67);
        }
    }
}

@media only screen and (min-width: 360px) and (max-width: 750px) {
    .groupomania {
        & > main {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
        }
        &__views {
            width: 85%;
            height: 500px;
        }
    }
}


