body {
  padding: 0;
  margin: auto;
  background-image: url("../images/background.jpg");
}

.error {
  font-size: 1em;
  color: red;
}

button {
  border: 2px solid white;
  border-radius: 4px;
  font-size: 1em;
  margin: 10px;
  width: 120px;
}

#modify {
  color: white;
  background-color: #122642;
}

#delete {
  color: white;
  background-color: #d77d83;
}

#Validate {
  color: white;
  background-color: #036b4f;
}

.form-properties {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.form-properties label {
  font-size: 1.1em;
}
.form-properties input, .form-properties select {
  background-color: white;
  border: 2px solid #091f43;
  border-radius: 4px;
  height: 25px;
}
.form-properties textarea {
  background-color: rgba(174, 174, 174, 0.5);
  border: 2px solid #091f43;
  border-radius: 4px;
  width: 70%;
  height: 30vh;
}
.form-properties > a {
  text-decoration: none;
  color: bisque;
}

.fileform-properties {
  padding: 10px;
}
.fileform-properties > input {
  background-color: rgba(174, 174, 174, 0.5);
  border: 2px solid #091f43;
  border-radius: 4px;
}

.groupomania__header {
  background-color: rgba(19, 38, 67, 0.7);
}
.groupomania__header__logo {
  margin: auto;
  width: 360px;
}
.groupomania__header__logo__img {
  width: 90%;
}
.groupomania__header__logo__title {
  padding: 5px 0 20px 0;
  margin: 0;
  font-size: 1.8em;
  font-style: italic;
  font-weight: 100;
  color: white;
}

@media only screen and (max-width: 700px) {
  .groupomania__header__logo {
    width: 340px;
  }
}
.groupomania__footer {
  border-top: 2px solid white;
  border-radius: 8px;
  background-color: rgba(19, 38, 67, 0.7);
  bottom: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.groupomania__footer__link {
  padding: 10px 5px 5px 5px;
  text-decoration: none;
  color: white;
}
.groupomania__footer__logo {
  width: 200px;
}

@media only screen and (max-width: 700px) {
  .groupomania__footer {
    font-size: 1.3em;
    padding: 0;
    margin: 0;
  }
  .groupomania__footer > div {
    display: flex;
    flex-direction: column;
  }
  .groupomania__footer__link {
    padding: 0;
  }
  .groupomania__footer__logo {
    width: 150px;
  }
}
@media only screen and (min-width: 701px) {
  .groupomania__footer {
    font-size: 1.35em;
  }
}
.groupomania__nav {
  background: rgba(209, 81, 90, 0.7);
  border-bottom: 2px solid white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.groupomania__nav__menu {
  font-size: 1.2em;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.groupomania__nav__menu > li {
  display: flex;
  padding: 20px;
}
.groupomania__nav__menu > li:hover a {
  transform: scale(1, 1.4);
}
.groupomania__nav__menu > li > a {
  text-decoration: none;
  color: white;
  transition: transform 0.3s 0s cubic-bezier(0.26, -1.57, 0.21, 1.84);
}
.groupomania__nav__menu__logo {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

@media only screen and (min-width: 391px) and (max-width: 700px) {
  .groupomania__nav__menu {
    flex-wrap: wrap;
  }
  .groupomania__nav__menu > li {
    width: 45%;
    padding: 10px;
  }
}
@media only screen and (max-width: 390px) {
  .groupomania__nav__menu {
    flex-wrap: wrap;
  }
  .groupomania__nav__menu > li {
    padding: 10px;
    width: 100%;
  }
}
.auth {
  width: 360px;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 20vh;
}
.auth__header {
  background-color: rgba(18, 36, 66, 0.6);
  text-align: center;
  color: white;
}
.auth__header__logo {
  width: 90%;
  padding: 0 10px;
}
.auth__header__title {
  margin: 0;
  padding-bottom: 20px;
  font-size: 1.8em;
  font-style: italic;
}
.auth__content {
  background-color: rgba(18, 36, 66, 0.6);
  color: #bac0c8;
}
.auth__content__title {
  border-bottom: 4px solid #d1515a;
  padding: 20px 0 10px 0;
  margin: 0;
  text-align: center;
}
.auth__content__log {
  padding: 15px 15px;
}
.auth__content__log__error {
  color: red;
}
.auth__content__log__password {
  margin-bottom: 30px;
}
.auth__content__log__password > div {
  display: flex;
  flex-direction: column;
}
.auth__content__log__password > div input {
  margin-bottom: 5px;
}

.groupomania > main {
  display: flex;
  margin-bottom: 3em;
}
.groupomania__tools {
  width: 320px;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  border-bottom: 2px solid white;
  background-color: rgba(18, 37, 66, 0.7);
  color: white;
}
.groupomania__tools--create {
  height: 300px;
}
.groupomania__tools--consult {
  height: 690px;
}
.groupomania__tools--oneForum {
  height: 590px;
}
.groupomania__tools__title {
  size: 1.2em;
  text-align: center;
  border-bottom: 2px solid #d1515a;
  color: white;
}
.groupomania__tools__userInfos {
  display: flex;
  flex-direction: column;
}
.groupomania__tools__userInfos__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}
.groupomania__tools__userInfos__img > img {
  width: 150px;
  height: auto;
}
.groupomania__tools__userInfos__infos {
  text-align: left;
  padding: 10px 0 10px 10px;
  margin: 0;
}
.groupomania__tools__userInfos__infos > li {
  list-style: none;
}
.groupomania__tools__search__form div:nth-last-of-type(6) {
  padding-bottom: 10px;
}
.groupomania__tools__search__form__choices > select {
  width: 140px;
}
.groupomania__tools__search__form__choices > input {
  width: 133px;
}
.groupomania__views {
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-bottom: 2px solid white;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: rgba(174, 174, 174, 0.7);
  color: #091f43;
  overflow-y: auto;
  max-height: 690px;
}
.groupomania__views__title {
  size: 1.2em;
  text-align: left;
  border-bottom: 2px solid #d1515a;
  color: #091f43;
}

@media only screen and (min-width: 360px) and (max-width: 750px) {
  .groupomania > main {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .groupomania__views {
    width: 85%;
    height: 500px;
  }
}
.groupomania__views__content__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.groupomania__views__content__list__article-link {
  border-radius: 8px;
  width: 30%;
  margin: 10px;
  text-decoration: none;
  transition: transform 0.3s 0s cubic-bezier(0.26, -1.57, 0.21, 1.84);
}
.groupomania__views__content__list__article-link:hover article {
  transform: scale(1, 1.1);
}

.article {
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 13px 4px #f1f1f1;
  border-bottom: 2px solid white;
  border-radius: 8px;
  height: 100%;
  transition: transform 0.3s 0s cubic-bezier(0.26, -1.57, 0.21, 1.84);
}
.article__header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: rgba(18, 36, 66, 0.7);
  border-bottom: 2px solid #d1515a;
}
.article__header > h4 {
  text-align: center;
  font-size: 1.3em;
  font-weight: bolder;
  color: white;
}
.article__content {
  padding: 10px;
  background-color: rgba(174, 174, 174, 0.7);
}
.article__content p:nth-of-type(1) {
  text-align: center;
  font-size: 1.2em;
  color: grey;
}
.article__content p:nth-of-type(2) {
  text-align: justify;
  font-size: 1.1em;
  color: #091f43;
}
.article__footer {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: rgba(18, 36, 66, 0.7);
  border-top: 2px solid white;
}
.article__footer > p {
  text-align: left;
  padding: 5px;
  font-size: 0.8em;
  color: white;
}

@media only screen and (min-width: 751px) and (max-width: 1000px) {
  .groupomania__views__content__list__article-link {
    width: 90%;
  }
}
@media only screen and (min-width: 651px) and (max-width: 750px) {
  .groupomania__views__content__list__article-link {
    width: 45%;
  }
}
@media only screen and (min-width: 360px) and (max-width: 650px) {
  .groupomania__views__content__list__article-link {
    width: 940%;
  }
}
.groupomania__tools__userInfos__reactions {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
  margin: 0;
  padding: 0;
}
.groupomania__tools__userInfos__reactions > li {
  list-style: none;
  padding: 10px;
}
.groupomania__tools__userInfos__reactions > li > i {
  padding: 10px;
}
.groupomania__tools__userInfos__actionsButton {
  display: flex;
}
.groupomania__views__comments__list__content {
  display: flex;
  flex-direction: column;
  background-color: rgba(174, 174, 174, 0.5);
  border: 2px solid #091f43;
  border-radius: 4px;
}
.groupomania__views__comments__list__content div {
  display: flex;
  align-items: left;
  padding: 0 20px;
}
.groupomania__views__comments__list__content div > p {
  font-size: 1em;
  margin: 0;
  color: white;
  padding: 5px 0;
}
.groupomania__views__comments__form {
  display: flex;
  align-items: left;
  justify-content: space-between;
  width: 90%;
}
.groupomania__views__comments__form > textarea {
  height: 20px;
}

.content {
  padding: 10px;
}
.content h3 {
  text-align: center;
  font-size: 1.5em;
  color: grey;
}
.content h3 + p {
  text-align: justify;
  font-size: 1.2em;
}

.media {
  display: flex;
  align-items: center;
  justify-content: center;
}
.media > video, .media > img {
  width: 50%;
  height: auto;
  box-shadow: 0px 0px 13px 4px #f1f1f1;
  border-bottom: 2px solid white;
  border-radius: 8px;
}

@media only screen and (min-width: 651px) {
  .media > video, .media > img {
    width: 30%;
  }
}
@media only screen and (min-width: 360px) and (max-width: 650px) {
  .media > video, .media > img {
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
