button {
    border: 2px solid white;
    border-radius: 4px;
    font-size: 1em;
    margin: 10px;
    width: 120px;
}

#modify {
    color: white;
    background-color: rgb(18,38,66);
}

#delete {
    color: white;
    background-color: rgb(215,125,131);
}

#Validate {
    color: white;
    background-color: rgb(3, 107, 79);
}